@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    --azul: #0D87C0;
    --azul-claro: #0D87C090;
    --preto: #2c2c37;
    --preto-claro: #2c2c3780;
}

body {
    height: 100vh;
    display: flex;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
}

/* BARRA LATERAL */

#menu-principal {
    visibility: hidden;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: var(--preto);
    border-bottom: 1px solid aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}

.fa-caret-down,
.fa-caret-up {
    padding-bottom: 10px;
    font-size: 30px;
    color: var(--azul);
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 5px;
    position: fixed;
    right: 0;
    height: 100%;
    width: 20%;
    background-color: #2c2c37;
}

i {
    height: 25px;
    width: 25px;
    font-size: 20px;
    padding: 5px 0 0 5px;
}

a {
    color: aliceblue;
    font-weight: 300;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

aside nav ul {
    letter-spacing: 2px;
    padding: 100px 10px 0 10px;
}

aside nav ul li {
    font-size: 1rem;
}

aside nav ul a:hover {
    font-size: 1.1rem;
    transition: font-size 0.5s ease-out;
}

.title-marcado {
    font-size: 1.1rem;
    color: var(--azul);
}

div ul {
    row-gap: 10px;
}

#links-de-contato ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .7rem;
    width: 160px;
    color: aliceblue;
    border: 1px aliceblue solid;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
}

#links-de-contato ul a {
    color: aliceblue;
    width: 200px;
    padding: 7px;
    text-align: center;
}

#links-de-contato ul li:hover {
    background-color: var(--azul-claro);
}

/* MAIN */

html,
html * {
    scrollbar-color: var(--preto-claro) #2c2c3740;
    scrollbar-width: thin;
}

main::-webkit-scrollbar,
#lista-de-projetos::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
}

main::-webkit-scrollbar-thumb,
#lista-de-projetos::-webkit-scrollbar-thumb {
    background-color: var(--preto-claro);
    border-radius: 10px;
}

main {
    height: 100%;
    width: 80%;
    overflow-y: scroll;
    color: var(--preto);
    background: linear-gradient(79.39deg, #e4e4f1, #b3b4b9);
    background-size: 200%;
}

hr {
    border-color: var(--azul-claro);
}

.divisoria {
    width: 100px;
    height: 1px;
    background-color: var(--azul);
}

h1 {
    padding: 20px 10px 10px 30px;
    border-top: 1px solid var(--azul);
    border-left: 1px solid var(--azul);
}

h2 {
    font-size: 1.0rem;
    color: aliceblue;
    letter-spacing: 10px;
    position: absolute;
    top: 0px;
    display: flex;
    font-weight: 700;
    background-color: var(--azul);
    padding: 5px 20px 5px 30px;
}

h3 {
    letter-spacing: 3px;
    font-size: .8rem;
    display: inline-block;
    color: var(--azul);
    font-weight: 700;
}

p {
    letter-spacing: 0;
    font-size: .9rem;
    padding: 5px 0 15px 0;
    font-weight: 300;
}

.container {
    display: flex;
    height: 100%;
    letter-spacing: 5px;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 0px 60px;
    row-gap: 100px;
    justify-content: center;
}

/* APRESENTAÇÃO */

#apresentacao {
    height: 100%;
    align-items: flex-start;
    justify-content: center;
}

#apresentacao p {
    font-size: 1.3rem;
    padding: 0;
    font-weight: 500;
    letter-spacing: 8px;
}

#apresentacao span {
    font-size: 1.8rem;
    color: var(--azul);
}

/* SOBRE MIM */

#sobre-mim {
    row-gap: 100px;
    justify-content: center;
}

#sobre-mim img {
    width: 300px;
    height: 400px;
    padding: 0 40px 0px 0;
}

#sobre-mim {
    padding-top: 0px;
}

#sobre-mim ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    padding-top: 20px;
}

#sobre-mim ul li {
    font-size: 9px;
    padding: 3px 4px;
    border: 1px solid var(--azul);
    display: flex;
    align-items: center;
    font-weight: 400;
    letter-spacing: 4px;
}

#sobre-mim .icon {
    height: 18px;
    width: 18px;
    padding-right: 10px;
    padding-bottom: 0;
}

/* PROJETOS */

#projetos img {
    height: 150px;
    width: 300px;
    margin-right: 30px;
}

#lista-de-projetos {
    margin: 120px 0px 100px 0px;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    overflow-y: scroll;
    padding-right: 20px;
}

#lista-de-projetos ul {
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    padding-top: 10px;
    justify-content: flex-start;
}

#lista-de-projetos ul li {
    font-size: 10px;
    letter-spacing: 1px;
    border: 1px solid var(--azul-claro);
    padding: 2px 5px;
}

#lista-de-projetos a {
    font-size: 12px;
    letter-spacing: 2px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul);
    color: aliceblue;
    transition: background-color 0.5s ease-out;
}

#lista-de-projetos a:hover {
    background-color: var(--azul-claro);
    color: aliceblue;
}

.projeto {
    max-width: 1100px;
}

.caixa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    column-gap: 10px;
    height: 25px;
}

/* CONTATO */

textarea {
    font-size: 14px;
    resize: none;
    height: 200px;
    width: 500px;
    background-color: transparent;
    border: 1px solid var(--azul-claro);
    padding: 5px;
    transition: border-color 0.5s ease-out;
}

input {
    font-size: 14px;
    height: 30px;
    width: 500px;
    background-color: transparent;
    border: 1px solid var(--azul-claro);
    padding: 5px;
    transition: border 5s ease-out;
}

#contato form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-end;
}

#contato button {
    height: 30px;
    width: 100px;
    background-color: var(--azul);
    color: aliceblue;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease-out;
}

#contato button:hover {
    background-color: var(--azul-claro);
}

form input:hover,
form input:focus,
form textarea:hover,
form textarea:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--azul);
}

/* RESPONSIVIDADE */

@media only screen and (max-width: 1250px) {

    /* MAIN */

    h2 {
        font-size: 15px;
    }

    h3 {
        font-size: 12px;
    }

    p {
        font-size: 0.8rem;
    }

    .container {
        padding: 0px 30px;
        font-size: 10px;
    }

    /* BARRA LATERAL */

    aside {
        visibility: visible;
    }

    aside nav ul li {
        font-size: 0.8rem;
    }

    aside nav ul a:hover {
        font-size: 0.9rem;
    }

    .title-marcado {
        font-size: 0.9rem;
        color: var(--azul);
    }

    #links-de-contato ul li {
        letter-spacing: 3px;
        width: 140px;
    }

    /* APRESENTAÇÃO */

    #apresentacao p {
        font-size: 1.2rem;
    }

    #apresentacao span {
        font-size: 1.4rem;
    }

    /* SOBRE MIM */

    #sobre-mim ul {
        column-gap: 10px;
        row-gap: 10px;
    }

    #sobre-mim li {
        letter-spacing: 2px;
    }

    #sobre-mim .icon {
        padding-right: 5px;
    }

    #sobre-mim img {
        padding-right: 20px;
    }

    #sobre-mim div ul li {
        font-size: .6rem;
    }

    /* PROJETOS */

    #projetos img {
        width: 260px;
        margin-right: 20px;
    }

    #lista-de-projetos a {
        font-size: 0.7rem;
    }

    #lista-de-projetos {
        padding-right: 10px;
    }

    .menu {
        column-gap: 4px;
    }
}

@media only screen and (max-width: 950px) {

    /* MAIN */

    main {
        width: 100%;
        height: calc(100vh - 50px);
        margin-top: 50px;
    }

    h3 {
        letter-spacing: 3px;
        font-size: 11px;
    }

    p {
        padding: 10px 0 0 0;
    }

    .container {
        font-size: 10px;
    }

    /* BARRA LATERAL */

    #menu-principal {
        visibility: visible;
    }

    aside {
        visibility: hidden;
        width: 100%;
        z-index: 1;
        padding-top: 0px;
        justify-content: space-around;
    }

    aside nav ul li {
        font-size: 1rem;
    }

    aside nav ul a:hover {
        font-size: 1.1rem;
    }

    aside div ul {
        margin-bottom: 30px;
    }

    aside div ul a {
        letter-spacing: 5px;
        padding: 10px;
    }

    aside div ul li {
        width: 120px;
    }

    .title-marcado {
        font-size: 1.1rem;
        color: var(--azul);
    }

    /* APRESENTAÇÃO */


    /* SOBRE MIM */

    #sobre-mim p {
        font-size: 0.8rem;
        padding: 5px 0 15px 0;
    }

    #sobre-mim img {
        padding-right: 20px;
    }

    #sobre-mim ul {
        row-gap: 4px;
        column-gap: 4px;
    }

    #sobre-mim ul li {
        letter-spacing: 0px;
        font-size: .5rem;
    }

    /* PROJETOS */

    #projetos img {
        height: 120px;
        width: 190px;
    }

    #projetos p {
        padding-bottom: 10px;
    }

    #lista-de-projetos {
        row-gap: 20px;
    }

    /* CONTATO */

}

@media only screen and (max-width: 650px) {

    /* MAIN */

    html,
    html * {
        scrollbar-color: none;
        scrollbar-width: none;
    }

    main::-webkit-scrollbar,
    #lista-de-projetos::-webkit-scrollbar {
        display: none;
    }

    main::-webkit-scrollbar-thumb,
    #lista-de-projetos::-webkit-scrollbar-thumb {
        display: none;
    }


    /* BARRA LATERAL */


    /* APRESENTAÇÃO */

    #apresentacao p {
        letter-spacing: 6px;
    }

    /* SOBRE MIM */

    #sobre-mim img {
        width: 200px;
        padding-right: 10px;
    }

    /* PROJETOS */

    #projetos img {
        height: 200px;
        width: 100%;
        padding: 0 0 20px 0;
        margin: 0 10px 0px 0;
    }

    #lista-de-projetos {
        padding-right: 0;
    }

    #lista-de-projetos a {
        font-size: 0.7rem;
    }

    .projeto {
        flex-direction: column;
        align-items: flex-start;
        height: 700px;
    }

    .caixa {
        align-items: flex-end;
    }

    .div-temp {
        height: 160px;
    }

    /* CONTATO */

    form input,
    form textarea {
        width: 350px;
    }
}

@media only screen and (max-width: 450px) {

    /* BARRA LATERAL */


    /* APRESENTAÇÃO */

    h1 {
        padding: 20px 0 0 20px;
    }

    /* SOBRE MIM */

    #sobre-mim {
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
    }

    #sobre-mim img {
        width: 100%;
        height: 150px;
        padding: 0 0px 20px 0px;
    }

    /* PROJETOS */

    #projetos img {
       height: 180px;
    }

    #lista-de-projetos {
        padding-right: 0;
    }

    #lista-de-projetos a {
        padding: 15px 10px;
    }

    .div-temp {
        height: auto;
    }

    .caixa {
        align-items: flex-end;
    }

    /* CONTATO */

    form input,
    form textarea {
        width: 250px;
    }

}